@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Prata&display=swap');

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #aaaaaa;
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;
}

/* Modal CSS Starts */

.modal-wrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(000,000,000, 0.4);
    font-family: 'Prata', serif;
    overflow-y: scroll;
    display: none;
}

.modal-body{
    width: 680px;
    height: 500px;
    background-color: #fff;
    position: relative;
    padding: 78px 45px 78px 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-body.final-popup{
    display: none;
}

.modal-close{
    position: absolute;
    right: 15px;
    top: 10px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.modal-close svg{
    transform: scale(2);
}

.modal-close svg path{
    transition: all 0.2s linear;
}

.modal-close:hover > svg path{
    fill: #000000;
}

.modal-content, .content-left, .content-right .offer-discount, .content-right .offer-discount p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.content-left h1{
    font-size: 65px;
    line-height: 85px;
    font-weight: normal;
    color: #464646;
    letter-spacing: 13px;
    width: 208px;
    margin: 0;
}

.content-left span{
    font-size: 65px;
    color: #FD8C94;
}

.content-right .offer-discount h1{
    font-size: 167px;
    color: #464646;
    font-weight: normal;
    margin: 0;
}

.content-right .offer-discount p{
    flex-direction: column;
    color: #464646;
}

.content-right .offer-discount p span:first-child{
    font-size: 82px;
    line-height: 1;
}

.content-right .offer-discount p span:last-child{
    font-size: 28px;
    line-height: 1;
}

#email-form div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#email-form input{
    outline: none;
    border: none;
    border-bottom: 3px solid #464646;
    padding-bottom: 10px;
}

#email-form input::placeholder{
    color: #464646;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
}

#email-form button{
    outline: none;
    border: none;
    border-bottom: 3px solid #FD8C94;
    padding: 10px;
    color: #FD8C94;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    background-color: transparent;
    cursor: pointer;
}

.initial-popup::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    background: linear-gradient(#FD8C9480, #b8b8b850, #FD8C9480);
    top: 0;
    left: 80px;
}

.final-popup .modal-content{
    display: block;
    margin-top: 80px;
}

.final-popup .modal-content h1{
    font-size: 65px;
    text-align: left;
    letter-spacing: 13px;
    line-height: 85px;
    color: #464646;
    padding-right: 125px;
}

.final-popup .modal-content p{
    font-size: 14px;
    text-align: left;
    letter-spacing: 0.7px;
    line-height: 35px;
    margin: 0;
    margin-bottom: 40px;
    font-family: 'PT Sans', sans-serif;
}

.final-popup .modal-content a{
    text-decoration: none;
    border-bottom: 3px solid #FD8C94;
    padding: 10px;
    color: #FD8C94;
    font-weight: 600;
    font-size: 15px;
    line-height: 16px;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (max-width: 550px){
    .modal-body{
        width: 80%;
        padding: 20px;
    }

    .modal-content{
        padding: 60px 15px 25px 15px;
    }

    .modal-content, .content-left, .content-right .offer-discount p, #email-form div{
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .content-left h1{
        font-size: 45px;
        width: 100%;
        line-height: 59px;
        letter-spacing: 3px;
    }

    .content-left span{
        line-height: 1;
    }

    .content-right .offer-discount h1{
        font-size: 144px;
        line-height: 1;
    }

    .content-right .offer-discount p span:first-child{
        font-size: 70px;
        letter-spacing: 5.6px;
    }

    .content-right .offer-discount p span:last-child{
        font-size: 23px;
        letter-spacing: 1.84px;
        line-height: 33px;
    }

    .content-right .offer-discount{
        margin-top: 10px;
    }
    

    .initial-popup::after{
        display: none;
    }

    #email-form button{
        outline: none;
        border: none;
        border: 1px solid #FD8C94;
        padding: 10px;
        color: #FD8C94;
        font-weight: 600;
        font-size: 15px;
        line-height: 16px;
        background-color: transparent;
        cursor: pointer;
    }

    .final-popup .modal-content a{
        width: calc(100% - 20px);
        display: block;
        border: 1px solid #FD8C94;
    }

    #email-form input{
        text-align: center;
    }
    
    #email-form input::placeholder{
        color: #464646;
        font-weight: bold;
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 3px;
    }

    .final-popup .modal-content{
        padding-top: 0;
        margin-top: 0;
    }

    .final-popup .modal-content h1{
        font-size: 50px;
        text-align: left;
        letter-spacing: 4px;
        line-height: 65px;
    }

    .final-popup .modal-content p{
        letter-spacing: 0.7px;
        font-size: 12px;
        line-height: 25px;
    }

    .final-popup .modal-content h1{
        padding-right: 0;
    }
}

/* #email-form input::placeholder{
    
} */

/* Modal CSS Ends */